@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Graphite */
  --graphite-50: #f1f1f3;
  --graphite-100: #e4e4e7;
  --graphite-200: #c8c8d0;
  --graphite-300: #adadb8;
  --graphite-400: #9292a0;
  --graphite-500: #777788;
  --graphite-600: #5f5f6d;
  --graphite-700: #474752;
  --graphite-800: #2f2f37;
  --graphite-900: #18181b;
  --graphite-950: #111113;

  /* Pale Slate */
  --pale-slate-50: #f1f2f4;
  --pale-slate-100: #e3e5e8;
  --pale-slate-200: #c7cad1;
  --pale-slate-300: #abb0ba;
  --pale-slate-400: #8f95a3;
  --pale-slate-500: #737b8c;
  --pale-slate-600: #5c6270;
  --pale-slate-700: #454a54;
  --pale-slate-800: #2e3138;
  --pale-slate-900: #17191c;
  --pale-slate-950: #101114;

  /* Desert Sand */
  --desert-sand-50: #f7f2ed;
  --desert-sand-100: #efe4dc;
  --desert-sand-200: #dfc9b9;
  --desert-sand-300: #d0af95;
  --desert-sand-400: #c09472;
  --desert-sand-500: #b0794f;
  --desert-sand-600: #8d613f;
  --desert-sand-700: #6a492f;
  --desert-sand-800: #463020;
  --desert-sand-900: #231810;
  --desert-sand-950: #19110b;

  /* Carrot Orange */
  --carrot-orange-50: #fef3e6;
  --carrot-orange-100: #fee7cd;
  --carrot-orange-200: #fdcf9b;
  --carrot-orange-300: #fcb769;
  --carrot-orange-400: #fba037;
  --carrot-orange-500: #fa8805;
  --carrot-orange-600: #c86d04;
  --carrot-orange-700: #965103;
  --carrot-orange-800: #643602;
  --carrot-orange-900: #321b01;
  --carrot-orange-950: #231301;

  /* Blue Bell */
  --blue-bell-50: #e7f3fe;
  --blue-bell-100: #cee8fd;
  --blue-bell-200: #9ed1fa;
  --blue-bell-300: #6db9f8;
  --blue-bell-400: #3ca2f6;
  --blue-bell-500: #0b8bf4;
  --blue-bell-600: #096fc3;
  --blue-bell-700: #075392;
  --blue-bell-800: #053861;
  --blue-bell-900: #021c31;
  --blue-bell-950: #021322;
}
