<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio Site</title>

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

</head>
<body>
    <div class="container">
        {% for repo in repos %}
        <div class='card'>
            <h3>{{ repo.name }}</h3>
            <p>{{ repo.description }}</p>
            <a href='{{ repo.html_url }}'>View on GitHub</a>
        </div>
        {% endfor %}
    </div>
    <script type="module" src="/static/wasm/my_wasm_project.js"></script>
</body>
</html>
